VSMacros80
*.sdf 
*.suo 
*.open
*.opensdf
*.opensdf git tag
*/*.sdf
*/*.suo
Test_BGL/Debug
Test_BGL/Release
Test_BGL/ipch
Test_BGL/Test_BGL/Debug
Test_BGL/Test_BGL/ReadMe.txt
Test_BGL/Test_BGL/Release
Test_BGL/Test_BGL/html
Test_BGL/Test_BGL/latex
Test_BGL/Test_BGL/net.gv
Meta_QPN/Debug
Meta_QPN/Release
Meta_QPN/Win32
Meta_QPN/ipch
Meta_QPN/Meta_QPN/Debug
Meta_QPN/Meta_QPN/ReadMe.txt
Meta_QPN/Meta_QPN/Release
Meta_QPN_QT/Win32
Meta_QPN_QT/ipch
Meta_QPN_QT/Meta_QPN_QT/Debug
Meta_QPN_QT/Meta_QPN_QT/Win32
Meta_QPN_QT/Meta_QPN_QT/GeneratedFiles/Debug
Learning_Bayesian_Network/Debug
Learning_Bayesian_Network/Learning_Bayesian_Network/Debug
Learning_Bayesian_Network/Learning_Bayesian_Network/ReadMe.txt
Learning_Bayesian_Network/ipch
